.checkout {
  width: 100%;
  height: 100vh;
  background-color:sandybrown;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}


table {
  width: 60%;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}


th {
  background-color: green; 
  color: yellow;
  font-weight: bold;
}


td {
  background-color: blue; 
  color: white;
}

.total-row td {
  background-color: red; 
  font-weight: bold;
  font-size: 20px;
  color: orange; 
}


.btn3 {
  background-color: yellow;
  color: orangered;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn3:hover {
  background-color: darkred;
}
