.category {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.category h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.category button {

  margin: 8px;
  padding: 8px 16px;
  background-color: orange;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
  width: 120px;
  text-align: center;

}

.category button.active {
  background-color: blue;
  color: white;
  border: none;
}


.categoryItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 25px;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  justify-items: center;
}

.categoryItem li {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.categoryItem li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.categoryItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.categoryItem h2 {
  font-size: 18px;
  margin-top: 12px;
  color: #444;
  font-weight: 500;

}

.alert {
  grid-column: span 4;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
.filteredMealsH1{
  text-align: center;
  background-color: green;
  color: hsl(246, 78%, 11%);
}