img{
  height: 400px;
  width: 100%;
}
    
.bottom-text {
  position: absolute;
  top: 200px;                  
  right: 500px;                 
  background-color: rgba(31, 21, 119, 0.6);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;        
  text-align: right;
  box-shadow: 2px 2px 8px rgba(207, 28, 28, 0.5);
}
  .loader{
    width:100%;
    height: 100%;
    /* top: 0px;
    position:fixed; */
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
