.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}
.pagination li{
    width: 20px;
    height: 20px;
    gap: 10px;
    border: 2px solid red;
    text-align: center;

}
.pagination li:hover{
    background-color: orange;
    color: red;
}

.activeNumber{
    background-color: blue;
    color: white;
}